SampleSDKSwift.xcworkspace/xcshareddata/SampleSDKSwift.xccheckout
SampleSDKSwift.xcworkspace/xcuserdata/miya.xcuserdatad/UserInterfaceState.xcuserstate
SampleSDKSwift.xcworkspace/xcuserdata/miya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
